<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut,</p>
    <p>A aparut un curs nou: <%= @course.title %> </p>
    <p>Poți să accesezi cursul <a href="<%= ENV["BASE_URL"] %>/cursuri/<%= @course.id %>">aici</a>.
    <p>Spor la învățat!</p>
	<p>Echipa Estudent</p>
  </body>
</html>
