<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut,</p>
    <p>Ne bucurăm că ai devenit Estudent! </p>
    <p>Poți să accesezi contul tău <a href="<%= ENV["BASE_URL"] %>/profil">aici</a> pentru a completa profilul tău și a vedea statusul cursurilor tale.</p>
    <p>Dacă ai întrebări sau nelămuriri, scrie-ne un e-mail pe contact@estudent.ro, iar noi îți vom răspunde cât de repede.</p>
    <p>Spor la învățat!</p>
	<p>Echipa Estudent</p>
  </body>
</html>
