<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut,</p>
    <p>Studentul <b><%=@user.first_name%> <%=@user.last_name%></b> ne-a trimis feedback la sectiunea <b><%= @section_title %></b>:</p>    
    <p><%= @feedback %></p>   
  </body>
</html>
