<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut,</p>
    <p>Am primit un nou mesaj de pe pagina de contact. </p>
    <p>Nume: <b><%=@name%></b>, email: <b><%=@email%></b>  ne-a trimis feedback</b>:</p>    
    <p><%= @message %></p>
  </body>
</html>
