<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Salut,</p>
  	
  	<p>Noua ta parolă este: <%= @new_password %></p>
    <p>O poți schimba accesând profilul tău de pe platformă.</p>

    <p>Spor la învățat! </p>
    <p>Echipa Estudent</p>
  </body>
</html>