<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Om nou pe waiting list!</h2>
    <p>Email: <%= @email %></p>
  </body>
</html>