<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>În primul rând îţi mulţumim pentru înscrierea pe lista de aşteptare Estudent şi pentru răbdare! În al doilea rând, vrem să te anunţăm că platforma <a href ="<%= ENV["BASE_URL"] %>">Estudent</a> a fost lansată oficial iar conţinutul acesteia poate fi accesat direct, începând de azi.</p>
    <p>Pentru a te loga, poţi folosi datele setate la înregistrarea iniţială sau le poţi modifica din contul personal. Pentru orice alte detalii legate de folosirea platformei poţi consulta secţiunea de <a href ="<%= ENV["BASE_URL"] %>/intrebari-frecvente">Întrebări frecvente</a> sau ne poţi trimite un mail la <a href="mailto:contact@estudent.ro">contact@estudent.ro</a>.</p>
    <p>Spor la descoperit lucruri noi și utile!</p>
	  <p>Echipa Estudent</p>
  </body>
</html>