<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut,</p>
    <p>Te invităm să devii Estudent! </p>
    <p>Accesează linkul de mai jos pentru a-ți crea contul și începe să explorezi.</p>
    <p><a href="<%= ENV["BASE_URL"] %>/inregistrare?invitation_id=<%= @invitation.invitation %>"><%= ENV["BASE_URL"] %>/inregistrare?invitation_id=<%= @invitation.invitation %></a></p>
    <p>Spor la învățat!</p>
	<p>Echipa Estudent</p>
  </body>
</html>