<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invitatie!</h1>
    <p><a href="http://estudent.ro/invitation_id?asg">http://estudent.ro/invitation_id?asg</a></p>
  </body>
</html>